.search {
  margin: 0 7px;

  input {
    margin-top: 40px;
    padding: 10px 5px;
    font-size: 18px;
    width: 100%;
    border: 4px dashed rgba(0, 0, 0, 0.740);
    font-family: 'Signika Negative', sans-serif;
    outline: none;
  }
}